<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Documents for {{SITE_NAME}}</title>

  <link
    rel="stylesheet"
    href="/assets/css/style.css"
    media="all">

  <link
    rel="stylesheet"
    href="/vendor/highlightjs/styles/github.css"
    media="all">

  <script
    src="/vendor/jquery/dist/jquery.min.js">
    </script>
  <script
    src="/vendor/bootstrap-sass/dist/js/bootstrap.min.js">
    </script>
  <script
    src="/vendor/highlightjs/highlight.pack.js">
    </script>

  <script type="text/javascript">
    $(function() {
      $("a[href^='/assets/pdf/']").attr('target','_blank');
      hljs.initHighlightingOnLoad();
    });
  </script>
</head>

<body>
<!-- navbar -->
  <header
    id="top"
    class="navbar navnbar-static-top navbar-default"
    role="banner">

<!-- navbar for mobile -->
    <div class="navbar-header">
      <button
        class="navbar-toggle collapsed"
        type="button"
        data-toggle="collapse"
        data-target=".anagift-collapse">

        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand svg-link-enable" href="/">
        <object
          id="brand"
          type="image/svg+xml"
          data="/assets/img/brand/brand.svg"
          width="130px"
          height="20px">
          <img src="/assets/img//brand/brand.png"
            width="130"
            height="20"
            alt="{{SITE_NAME}}"></object></a>
    </div>

<!-- navbar menu -->
    <nav
      class="collapse navbar-collapse anagift-collapse"
      role="navigation">

      <ul class="nav navbar-nav">
        <li id="nav-home">
          <a href="/index.html">home</a></li>
        <li id="nav-documents">
          <a href="/documents.html">documents</a></li>
        <li id="nav-logs">
          <a href="/logs.html">logs</a></li>
        <li id="nav-links">
          <a href="/links.html">links</a></li>
        <li id="nav-developers">
          <a href="/developers.html">for developers</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            href="//{{SITE_URL}}/"
            target="blank"
            >{{SITE_NAME}}</a></li>
      </ul>
    </nav>
  </header>

<!-- content -->
  {{ content }}

<!-- footer -->
  <footer class="doc-footer" role="contentinfo">
    <div class="container text-center">
      <a href="/">
        <object
          id="brand"
          type="image/svg+xml"
          data="/assets/img/brand/brand.svg"
          width="98px"
          height="15px">
          <img src="/assets/img/brand/brand.png"
            width="98"
            height="15"
            alt="{{SITE_NAME}}">
        </object>
      </a><br>
      <small>
        <a 
          href="/"
          >http://{{SITE_URL}}/</a><br>
        <a 
          href="http://getbootstrap.com/"
          target="_blank"
          >bootstrap v3.1.1</a><br>
        <a 
          href="https://github.com/mattn/jedie"
          target="_blank"
          >Jedie</a>
      </small>
    </div>
  </footer>

<!-- javascript -->
  <script type="text/javascript">
    $(function() {
      var page = $('section[role="main"]').attr('id');
      $('#nav-' + page).addClass('active');
    });
  </script>
</body>
</html>
